PORT=8000
CORS_ORIGIN=*


Access_token_secret=Md Zakwan
Access_token_expiration=1d
Refresh_token_secret=Md Zakwan
Refresh_token_expiration=7d







MONGO_URI=mongodb+srv://Zakwan13:Zakwan1302@cluster0.wfsv7gc.mongodb.net